* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}
h2{
  text-align: center;
  font-size: 1.9rem;
}
/* Header */
header {
  background: linear-gradient(135deg, #4b6cb7, #182848);
  color: white;
  text-align: center;
  padding: 60px 20px;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  font-size: 2.5rem;
  margin-top: 10px;
}

/* Sections */
section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

#about p {
  background-color: white;
  padding: 20px;
  border-left: 5px solid #4b6cb7;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Project Section */
#projects h2 {
  text-align: center;
  margin-bottom: 20px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card h3 {
  color: #4b6cb7;
  margin-bottom: 10px;
}

.project-card a {
  text-decoration: none;
  color: #182848;
  font-weight: bold;
}

.project-card a:hover {
  text-decoration: underline;
}

#contact {
  background-color: #e8efff;
  padding: 40px 0;
  text-align: center;
}


#contact h2 {
  margin-bottom: 15px;
  color: #182848;
}

#contact p {
  font-size: 1.5rem;
  margin: 5px 0;
}

footer {
  background-color: #000;
  color: #ccc;
  text-align: center;
  padding: 30px 0;
  margin-top: 50px;
}
/* pictures in cards*/
.pic3{
  width: 150px;
  height: 150px;
  margin:auto;
}
/* Footer Icons */
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 15px;
}

.footer-icons img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
}


.footer-icons img:hover {
  transform: translateY(-8px) scale(1.1);
  box-shadow: 0 4px 15px rgba(255,255,255,0.3);
}


footer p {
  font-size: 1.5rem;
  color: #aaa;
  margin-top: 10px;
}
